
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-width{
    max-width: 1330px;
    margin: auto;
}

.head{
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow:inset 0 0 0 2000px rgba(115, 147, 179, 0.7);
    
}

.head-content{
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
    list-style-type: none;
}

.menu ul li a{
    font-size: 22px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 25px 30px 0px 30px;
    display: block;
}



.logo{
    padding: 13px 0px;
}

.logo img{
    width: 70px;
    height: 50px;
}

.banner-cont{
    
    margin-top: 130px;
    margin-left: 35%;
    max-width: 500px;
    padding-bottom: 90px;

}

.banner-cont h2{
    color:darkred;
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}

.banner-cont h1{
    color: white;
    font-size: 38px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.banner-cont h3{
    color:palegreen;
}

.banner-cont p{
    color: seashell;
    margin: 10px 0px;
    font-family: 'Lato', sans-serif;
    margin: 10px 0px;
    text-align: center;
}

.banner-cont i{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: transparent;
        font-size: 30px;
        text-align: center;
        line-height: 120px;
        margin-top: 15px;
        margin-left: 13%;
}


.btn{
    width: 45%;
    height: 50px;
    border-radius: 27px;
    background: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
}

.btn a{
    text-decoration: none;
    color: navy;
}

.btn:hover{
    background-color: lavender;
    color: white;
}


.about,
.skill{
    padding: 100px 70px 50px 100px;
    text-align: center;
}

.about h1,
.skill h1{
    padding-bottom: 5px;
    color: darkslateblue;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

.about img{
    margin-bottom: 20px;
}

.about p,
.skill p{
    line-height: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 0% 20%;
}


.sec3{
    padding: 100px 70px 70px 100px;
    overflow: hidden;
}
.s3Left{
    width: 50%;
    float: left;
    padding-top: 5px;
}
.s3Left p{
    margin-right: 54px;
    line-height: 30px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.s3left p,
i{
    
    padding-right: 10px;
}
.s3Left a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px 40px 10px 40px;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-size: 20px;
    box-shadow: 3px 2px 3px 2px gray;
}

.s3Left a:hover{
    background: lightcoral;
}
.s3Right{
    width: 50%;
    float: left;
}

.s3Right img{
    width: 70%;
    margin-left: 15%;
    margin-top: 7%;
}

.skill{
    background-color: #f1f1f3;
}
.skill h1{
    margin-bottom: 25px;
}
.type h2{
    margin-top: 45px;
    margin-left: 65px;
    background-color: white;
    padding: 10px 40px 10px 40px;
    display: inline-block;
    border-radius: 20px;
    color: navy;
    font-size: 25px;
}

.type{
    padding-bottom: 50px;
}

.sec4{
    padding: 40px 70px 70px 100px;
}

.sec4 h1{
    font-size: 40px;
}
.sec4 h1{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}

.s4top{
    overflow: hidden;
    padding-top: 30px;
}

.box1{
    background-color: white;
    border: 1px solid lightslategrey;
    width: 30%;
    float: left;
    margin: 0px 10px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 30px;
    box-shadow: 3px 3px 3px 3px gray;
}

.box1 h4{
    font-size: 25px;
    padding-bottom: 10px;
}

.contact{
    background-image: url(../images/bottom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow:inset 0 0 0 2000px rgba(76,76,76, 0.7);
}


.contact-cont{
    padding: 50px 50px;
}

.contact-cont h2{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    margin: 50px 0px 25px 65px;
    font-style: italic;
}

.contact-cont h1{
    font-size: 50px;
    margin: 0px 0px 25px 65px;
    font-family: 'Lato', sans-serif;
}

.contact-cont img{
    margin: 0px 0px 35px 89px;
    width: 23%;
}
form{
    width: 500px;
    display: block;
    margin: auto;
}
input{
    width: 100%;
    height: 70px;
    outline: none;
    padding-left: 20px;
    margin-bottom: 25px;
}

label{
    color: #a4a4a4;
    margin-bottom: 10px;
}
.contact-cont p{
    color: white;
    font-size: 20px;
    margin: 0px 0px 5px 72px;
    font-family: 'Lato', sans-serif;
}

textarea{
    height: 100px;
    width: 100%;
    outline: none;
    resize: none;
    margin-top: 5px;
}

.contact-cont button{
    background-color: #fc4733;
    padding: 10px 40px 32px 40px;
    
    border-radius: 28px 20px 41px 20px;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 150px;
    margin-top: 50px ;
    text-align: center;
}

.footer{
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px 10px 10px 10px;
}